@import "styles/utils";

.button {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: background 0.3s;

  @include media(">desktop") {
    font-size: 16px;
    line-height: 18px;
  }

  &.primary,
  &.secondary {
    min-width: 97px;
    min-height: 40px;
    border-radius: 4px;
    padding: 12px 16px;

    @include media(">desktop") {
      min-width: 123px;
      height: 48px;
      border-radius: 8px;
    }
  }

  &.primary {
    color: $white-color;
    background: $primary-color;

    &:hover {
      background: $light-primary-color;
    }
  }

  &.secondary {
    color: $white-color;
    background: $secondary-color;

    &:hover {
      background: $light-secondary-color;
    }
  }

  &.link {
    color: $natural-color;
    transition: color 0.3s;

    &:hover {
      color: $secondary-color;
    }
  }
}
