@import "styles/utils";

.form {
  font-size: 14px;
  line-height: 20px;

  .detailContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background: $very-light-gray-color;
    border-radius: 8px;
    padding: 16px;

    @include media(">desktop") {
      gap: 16px;
      padding: 16px 24px 24px;
    }

    .planContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include media(">desktop") {
        margin-bottom: 8px;
      }

      .planName {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: $secondary-color;
        margin-bottom: 3px;

        @include media(">desktop") {
          font-size: 16px;
          line-height: 18px;
        }
      }

      .changeButton {
        font-size: 14px;
        line-height: 20px;
        color: $natural-color;
        background: transparent;
        border: none;
        text-decoration: underline;
        cursor: pointer;
        transition: color 0.3s;

        &:hover {
          color: $primary-color;
        }
      }

      .price {
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        text-align: right;
        color: $secondary-color;

        @include media(">desktop") {
          font-size: 16px;
          line-height: 20px;
        }
      }
    }
  }

  hr {
    width: 100%;
    height: 1px;
    background: $natural-color;
    opacity: 0.2;
    border: none;
  }

  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > div:last-child {
      font-size: 14px;
      line-height: 20px;
      text-align: right;
      color: $secondary-color;
    }
  }

  .totalContainer {
    padding: 0 16px;

    .total {
      font-weight: 700 !important;
      font-size: 16px !important;
      line-height: 20px !important;
      text-align: right;
      color: $primary-color !important;

      @include media(">desktop") {
        font-size: 20px;
        line-height: 20px;
      }
    }
  }
}
